
.home-display{
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #D82E2F;
  }


.home-display-img{
  padding: 0 50px;
}

@media only screen and (max-width: 647px) {
  .home-display-img{
    padding: 0 20px;
  }

}